<a href="https://colab.research.google.com/github/AdamWoolley/AdamWoolley.github.io/blob/main/Week4walkthrough.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This is just a walkthrough for week 4

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('API_NY.GDP.MKTP.KD.ZG_DS2_en_csv_v2_4666485.csv',skiprows=4)

In [3]:
df.head(1)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Aruba,ABW,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,6.429817,-0.020479,3.543630,2.116716,5.482371,1.267218,-2.085600,-22.318948,NaN,NaN
1,Africa Eastern and Southern,AFE,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,0.239594,7.980768,5.164334,4.579952,5.327717,...,4.200209,3.984387,2.952845,2.217017,2.557135,2.485244,2.025941,-2.886856,4.303667,NaN

In [6]:
df2 = df.drop(['Indicator Name', 'Indicator Code'],axis=1)

In [7]:
df2

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.429817,-0.020479,3.543630,2.116716,5.482371,1.267218,-2.085600,-22.318948,NaN,NaN
1,Africa Eastern and Southern,AFE,NaN,0.239594,7.980768,5.164334,4.579952,5.327717,3.912108,5.256810,...,4.200209,3.984387,2.952845,2.217017,2.557135,2.485244,2.025941,-2.886856,4.303667,NaN
2,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.600745,2.724543,1.451315,2.260314,2.647003,1.189228,3.911603,-2.351101,NaN,NaN
3,Africa Western and Central,AFW,NaN,1.848752,3.770220,7.272440,5.396349,4.049793,-1.787079,-9.546464,...,6.104192,5.927355,2.745894,0.127844,2.317679,2.952190,3.202544,-0.897014,3.914799,NaN
4,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.950000,4.820000,0.940000,-2.580000,-0.150000,-1.316312,-0.700000,-5.500000,0.700000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.340908,3.348804,5.916270,5.571757,4.825690,3.406631,4.756831,-5.340275,9.127578,NaN
262,"Yemen, Rep.",YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.823415,-0.188574,-27.994546,-9.375124,-5.071796,0.752448,1.400000,-8.500000,-2.061513,NaN
263,South Africa,ZAF,NaN,3.844734,6.177931,7.373709,7.939609,6.122798,4.438386,7.196523,...,2.485468,1.413826,1.321862,0.664552,1.157947,1.487617,0.113054,-6.431975,4.914603,NaN
264,Zambia,ZMB,NaN,1.361382,-2.490839,3.272393,12.214048,16.647456,-5.570310,7.919697,...,5.057232,4.697992,2.920375,3.776679,3.504336,4.034494,1.441306,-2.785055,3.572815,NaN
265,Zimbabwe,ZWE,NaN,6.316157,1.434471,6.244345,-1.106172,4.910571,1.523130,8.367009,...,1.989493,2.376929,1.779873,0.755869,4.709492,4.824211,-6.144236,-6.248748,5.849420,NaN

In [14]:
df3 = df2.set_index(['Country Name','Country Code']).stack().reset_index()

In [17]:
df4 = df3.rename(columns={'level_2':'Year',0:'GDP growth (annual %)'})

In [22]:
df4.set_index('Country Code').to_csv('mycsv.csv')

In [26]:
df3.set_index(['Country Name', 'Country Code','level_2']).unstack()

                                                  0                        \
level_2                                        1961       1962       1963
Country Name                Country Code
Afghanistan                 AFG                 NaN        NaN        NaN
Africa Eastern and Southern AFE            0.239594   7.980768   5.164334
Africa Western and Central  AFW            1.848752   3.770220   7.272440
Albania                     ALB                 NaN        NaN        NaN
Algeria                     DZA          -13.605441 -19.685042  34.313729
...                                             ...        ...        ...
West Bank and Gaza          PSE                 NaN        NaN        NaN
World                       WLD            3.790542   5.316458   5.184865
Yemen, Rep.                 YEM                 NaN        NaN        NaN
Zambia                      ZMB            1.361382  -2.490839   3.272393
Zimbabwe                    ZWE            6.316157   1.434471   6.244345

                                                                          \
level_2                                        1964       1965      1966
Country Name                Country Code
Afghanistan                 AFG                 NaN        NaN       NaN
Africa Eastern and Southern AFE            4.579952   5.327717  3.912108
Africa Western and Central  AFW            5.396349   4.049793 -1.787079
Albania                     ALB                 NaN        NaN       NaN
Algeria                     DZA            5.839413   6.206898 -4.804971
...                                             ...        ...       ...
West Bank and Gaza          PSE                 NaN        NaN       NaN
World                       WLD            6.558489   5.549192  5.712499
Yemen, Rep.                 YEM                 NaN        NaN       NaN
Zambia                      ZMB           12.214048  16.647456 -5.570310
Zimbabwe                    ZWE           -1.106172   4.910571  1.523130

                                                                          \
level_2                                       1967       1968       1969
Country Name                Country Code
Afghanistan                 AFG                NaN        NaN        NaN
Africa Eastern and Southern AFE           5.256810   4.023776   5.279927
Africa Western and Central  AFW          -9.546464   1.465775  15.491888
Albania                     ALB                NaN        NaN        NaN
Algeria                     DZA           9.452963  10.796239   8.433280
...                                            ...        ...        ...
West Bank and Gaza          PSE                NaN        NaN        NaN
World                       WLD           4.156567   5.941060   5.815897
Yemen, Rep.                 YEM                NaN        NaN        NaN
Zambia                      ZMB           7.919697   1.248330  -0.436916
Zimbabwe                    ZWE           8.367009   1.970135  12.428236

                                                     ...                       \
level_2                                        1970  ...       2012      2013
Country Name                Country Code             ...
Afghanistan                 AFG                 NaN  ...  12.752287  5.600745
Africa Eastern and Southern AFE            4.700767  ...   0.923067  4.200209
Africa Western and Central  AFW           17.908938  ...   5.142997  6.104192
Albania                     ALB                 NaN  ...   1.417243  1.002018
Algeria                     DZA            8.862657  ...   3.400000  2.800000
...                                             ...  ...        ...       ...
West Bank and Gaza          PSE                 NaN  ...   6.096457  4.698570
World                       WLD            3.928543  ...   2.707162  2.819838
Yemen, Rep.                 YEM                 NaN  ...   2.392886  4.823415
Zambia                      ZMB            4.797113  ...   7.597593  5.057232
Zimbabwe                    ZWE           22.565151  ...  16.665429  1.989493

                                                                         \
level_2                                       2014       2015      2016
Country Name                Country Code
Afghanistan                 AFG           2.724543   1.451315  2.260314
Africa Eastern and Southern AFE           3.984387   2.952845  2.217017
Africa Western and Central  AFW           5.927355   2.745894  0.127844
Albania                     ALB           1.774449   2.218726  3.314981
Algeria                     DZA           3.800000   3.700000  3.200000
...                                            ...        ...       ...
West Bank and Gaza          PSE          -0.157867   3.721300  8.864619
World                       WLD           3.055920   3.081059  2.798896
Yemen, Rep.                 YEM          -0.188574 -27.994546 -9.375124
Zambia                      ZMB           4.697992   2.920375  3.776679
Zimbabwe                    ZWE           2.376929   1.779873  0.755869

                                                                        \
level_2                                       2017      2018      2019
Country Name                Country Code
Afghanistan                 AFG           2.647003  1.189228  3.911603
Africa Eastern and Southern AFE           2.557135  2.485244  2.025941
Africa Western and Central  AFW           2.317679  2.952190  3.202544
Albania                     ALB           3.802227  4.019360  2.088063
Algeria                     DZA           1.300000  1.100000  1.000000
...                                            ...       ...       ...
West Bank and Gaza          PSE           1.419368  1.227077  1.362687
World                       WLD           3.379490  3.276646  2.614882
Yemen, Rep.                 YEM          -5.071796  0.752448  1.400000
Zambia                      ZMB           3.504336  4.034494  1.441306
Zimbabwe                    ZWE           4.709492  4.824211 -6.144236


level_2                                        2020      2021
Country Name                Country Code
Afghanistan                 AFG           -2.351101       NaN
Africa Eastern and Southern AFE           -2.886856  4.303667
Africa Western and Central  AFW           -0.897014  3.914799
Albania                     ALB           -3.481630  8.544083
Algeria                     DZA           -5.100000  3.847793
...                                             ...       ...
West Bank and Gaza          PSE          -11.318466  7.050451
World                       WLD           -3.271219  5.802057
Yemen, Rep.                 YEM           -8.500000 -2.061513
Zambia                      ZMB           -2.785055  3.572815
Zimbabwe                    ZWE           -6.248748  5.849420

[260 rows x 61 columns]

This is how to do the scrapping for

###https://ratings.fide.com/top_lists.phtml

In [31]:
table_list=pd.read_html('chess_table.html')

In [32]:
len(table_list)

1

In [45]:
table_list[0] = table_list[0]['Avg12M'].str.split(' ').str[0].astype(float)

In [39]:
s='2862 (1)'

In [40]:
int(s.split(' ')[0])

2862

In [46]:
table_list[0] = chess_df

In [48]:
chess_df['Rating last year'] = chess_df['Avg12M'].str.split(' ').str[0].astype(float)

KeyError: ignored

# New Section

In [2]:
import requests, pandas as pd

In [3]:
tables=pd.read_html('https://www.indexmundi.com/facts/indicators/SI.POV.GINI/rankings/africa')

In [4]:
df=tables[1]

IndexError: ignored